# Compiled output
/dist
/build
/tmp

# Node
/node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Logs
logs
*.log

# Env files
.env
.env.development
.env.test
.env.production
!.env.example

# IDE / OS
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
Thumbs.db

# Coverage / cache
coverage
.eslintcache
*.tsbuildinfo

# Prisma generated client
prisma/generated

# Temp
.temp
.tmp
